<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainbow puppies! 🌈🌈</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="buttonPuppy">
        <nav>
            <a href="login">login</a>
        </nav>
    </header>
    <h1 class="regnbueTekst">Velkommen til Rainbow Puppies!</h1>

    <a href="/puppies" class="buttonPuppy">Se alle puppies</a>
    <!-- <a href="/views/login.ejs">login</a> -->
</body>
</html>