<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alle puppies</title>
    <%- include('templates/puppyCss') %>
</head>
<body>
    <h1>Alle puppies</h1>

    <ul>
        <% puppies.forEach(p => { %>
            <li>
                <a href="/api/puppy/<%= p.name %>"><%= p.name %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>