<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alle puppies</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Alle puppies</h1>

    <% puppies.forEach(p => { %>
        <a href="/api/puppy/<%= p.name %>"><%= p.name %></a>
    <% }) %>
    <footer>
        <a href="/">tilbake til homepage</a>
    </footer>
</body>
</html>